div#nav
    ul(class="nav")
        li: a.active(href="/index") Home
        li: a.active(href="/about") About Us
        li 
            a.active(href="/bucks") Our Bucks
            ul.nav2
                li: a.active(href="/goat/N001719983") Bart
        li 
            a.active(href="/does") Our Does
            ul.nav2
                li: a.active(href="/goat/N001629287") Paige
                li: a.active(href="/goat/N001632694") Bella
                li: a.active(href="/goat/N001734188") Jade
        li
            a.active(href="/kids") Our Kids
            ul.nav2
                li: a.active(href="/kids-2016") 2016
                li: a.active(href="/kids-2015") 2015
                li: a.active(href="/kids-2014") 2014
                li: a.active(href="/kids-2013") 2013
        li: a.active(href="/contact") Contact Us


