
div(class="well goatlist")
    h1: a(href="/nubians") Nubian
    ul
        li: a(href="/nubian/N001719983") Bart
        li: a(href="/nubian/N001760887") Rocky
        li: a(href="/nubian/N001771731") Ezekiel
        li: a(href="/nubian/N001776359") Nolan
        li: a(href="/nubian/N001629287") Paige
        li: a(href="/nubian/N001734188") Jade
        li: a(href="/nubian/N001734917") Rose
        li: a(href="/nubian/N001774069") Lily Dove
        li: a(href="/nubian/N001768282") Kaya

    h1: a(href="/kikos") Kiko
    ul
        li: a(href="/kiko/K0001") Bandera
        li: a(href="/kiko/K0002") Percy

    h1: a(href="/boers") Boer
    ul
        li: a(href="/boer/B0001") Dolly
        li: a(href="/boer/B0002") Boudicca
        li: a(href="/boer/B0003") Goldie
        li: a(href="/boer/B0004") Pearl
