
body
	border-width: 1
	border-style: solid
	border-color: red

header
	border-width: 1
	border-style: solid
	border-color: green

footer
	border-width: 1
	border-style: solid
	border-color: yellow

#container
	border-width: 1
	border-style: solid
	border-color: orange

#content
	border-width: 1
	border-style: solid
	border-color: purple

aside#sidebar
	border-width: 1
	border-style: solid
	border-color: purple

#header-img
	border-width: 1
	border-style: solid
	border-color: black

#header-title
	border-width: 1
	border-style: solid
	border-color: black
